.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.3s;
  width: 200px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  /* Position the tooltip */
  position: absolute;
  z-index: 999;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  /* visibility: visible; */
}
